<title>Cadastro</title>
<div>
    <form class="register-form">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                        <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <input class="col-md-6" type="password" name="password" ng-model="password" placeholder="Senha" required>
             <input class="col-md-6" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirmar Senha" required>
        </div>
    </form>
</div>