<html lang="en" ng-app="app" ng-controller="mainController">
    <head>
        <title>VETPLEX</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.min.css" />
        <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/main.css" />
        <!-- endbuild -->
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">VETPLEX</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active': activeMenu=='home'}"><a href="#" ng-click="go('/home')">Buscar</a></li>
                        <li ng-class="{'active': activeMenu=='about'}"><a href="#" ng-click="go('/about')">Sobre</a></li>
                        <li ng-class="{'active': activeMenu=='schedule'}" ng-show="session.logged"><a href="#" ng-click="go('/schedule')">Agenda</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="ng-cloak" ng-show="!session.logged">
                            <button class="btn btn-primary"ng-click="go('/register')">
                                Acessar
                            </button>
                        </li>
                        <li class="ng-cloak" ng-show="session.logged">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                <span ng-bind="session.name"></span>
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li ng-click="go('/config')" role="presentation"><a role="menuitem" href="#">Configurações</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li ng-click="logout()" role="presentation"><a role="menuitem" href="#">Sair</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <div class="wrapper">
            <div class="container">
                <!-- Static navbar -->

                <!-- component loading -->
                <article class="content">
                    <ng-view></ng-view>
                </article>

            </div>
            <div class="copyright">
                © 2017 Vetplex, Inc
            </div>
        </div>



        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaRfGQtK3uQQ0Kqf7Xud1DlXYlz6OV9A">
        </script>
        <!-- build:js scripts/vendor.js -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
        <script src="../bower_components/angular-ui-mask/dist/mask.js"></script>
        <script src="../bower_components/firebase/firebase.min.js"></script>
        <!-- endbuild -->

        <!-- build:app scripts/app -->
        <script src="./scripts/app.js"></script>
        <script src="./scripts/app.route.js"></script>
        <script src="./scripts/app.controller.js"></script>
        <script src="./scripts/app.constants.js"></script>
        <script src="./scripts/app.toastr.js"></script>
        <!-- build:app scripts/directives -->
        <script src="./scripts/directives/ng-enter.js"></script>
        <!-- build:app scripts/filter -->
        <!-- build:app scripts/services -->
        <script src="./scripts/services/firebaseService.js"></script>
        <script src="./scripts/services/userService.js"></script>
        <!-- build:app scripts/components -->
        <script src="./scripts/components/home/homeController.js"></script>
        <script src="./scripts/components/register/registerController.js"></script>
        <script src="./scripts/components/about/aboutController.js"></script>
        <script src="./scripts/components/schedule/scheduleController.js"></script>
        <script src="./scripts/components/page/pageController.js"></script>
        <script src="./scripts/components/config/configController.js"></script>
        <!-- endbuild -->
    </body>
</html>
