<div class="cover">
    <h1>VETPLEX</h1>
    <p>texto motivacional para usar a plataforma</p>
</div>
<div class="sub-content">
    <h2>Busque profissionais</h2>
    <ul class="list-group">
        <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sel1">Serviço:</label>
                            <select class="form-control" id="sel1">
                                <option>Petshop</option>
                                <option>Veterinário</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sel1">Região:</label>
                            <select class="form-control" id="sel1">
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
            </div>
        </li>
        <li class="list-group-item list-group-item-info">
            <div id="map"></div>
        </li>
    </ul>
</div>