<h2 ng-bind="user.name"></h2>
<hr/>
<p class="text-justify" ng-bind="user.professional.about"></p>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Contato</div>
            <div class="panel-body">
                <span ng-show="!user.professional.service" ng-bind="default.noinfo"></span>
                <ul ng-show="user.professional.service" class="list-group list-even-odd">
                    <li class="list-group-item">Email: <span ng-bind="user.email"></span></li>
                    <li class="list-group-item">Telefone: <span ng-bind="user.professional.phone"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Serviços</div>
            <div class="panel-body">
                <span ng-show="!user.professional.service" ng-bind="default.noinfo"></span>
                <ul ng-show="user.professional.service" class="list-group list-even-odd">
                    <li ng-show="value" ng-repeat="(service, value) in user.professional.service" class="list-group-item" ng-bind="translateService(service)"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Avaliação</div>
            <div class="panel-body">
                <span ng-repeat="star in rating track by $index" class="rating-star glyphicon glyphicon-star" ng-class="{'unrated': star==0 }"></span>
                <span class="rating-number" ng-bind="user.rating || 0 | number : 1"></span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Endereço:
                <span ng-bind="user.professional.address || default.noinfo"></span>  
                <span class="pull-right" ng-bind="user.professional.city"></span>
            </div>
            <div ng-show="professional.address" class="panel-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>