[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.wrapper{
    margin-top:50px;
    height:calc(100vh - 50px);
    overflow:auto;
    box-sizing: border-box;
    padding-top:20px;
}

.container{
    min-height: calc(100vh - 130px);
    width:1140px;
    padding: 0;
}

.navbar.navbar-default{
    border-radius:0px;
    position:fixed;
    z-index:10;
    width:100%;
    top:0;
}
#navbar{
    width:1140px;
    margin:0 auto;
    padding:0;
}

.navbar-nav .btn{
    margin-top:8px;
}

.navbar-right {
    margin-right: 0px;
}

.copyright{
    text-align:center;
    padding: 20px 0px;
    font-size:10px;
}

.loggedIn{
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
}

.btn .glyphicon{
    font-size:12px;
}

/*home*/

.cover{
    width:800px;
    height:430px;
    margin:0 auto;
    position:relative;
    text-align: center;
    text-shadow: 0px 0px 20px #fff;
}

.cover:after{
    content:"";
    width:800px;
    height:430px;
    background-image:url(/app/assets/image/cover.jpg);
    filter:blur(5px);
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

.cover h1{
    transform:translateY(80px);
    font-weight: bold;
    font-size:46px;
}

.cover p{
    transform:translateY(200px);
    font-size:20px;
}

#map {
    height: 400px;
    width: 100%;
}

/*register*/

.form-group.error input,
.form-group.error select {
    border-color:#FE4D4D;
    background-color: #FFE4E4;
}

/*schedule*/
.list-group.appointments li.list-group-item
{
    height: 60px;
    line-height: 40px;
}

.list-group.appointments li.list-group-item span.info{
    display:inline-block;
    min-width:120px;
    margin-left:10px;
}

.list-group.appointments li.list-group-item span.label{
    margin-right:10px;
    width:75px;
    display: inline-block;
    transform: translateY(-2px);
}

.list-group.appointments li.list-group-item .tools{
    display:inline-block;
    float:right;
    margin-top:2px;
}

.list-group.appointments li.list-group-item .tools .glyphicon{
    cursor:pointer;
}

.nav.nav-tabs li{
    cursor:pointer;
}

.modal-service{
    display: flex;
    justify-content: space-around;
}

.modal-service-select{
    width: 260px;
    height: 260px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding:10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor:pointer;
    transition: all 0.3s ease;
    filter: grayscale(90%);
    opacity: 0.7;
}

.modal-service-select:hover, .modal-service-select.selected{
    filter: grayscale(0%);
    opacity: 1;
    border-color:orange;
}

.modal-service-select.vet{
    background-image:url(/app/assets/image/vet.png);
}

.modal-service-select.pet{
    background-image:url(/app/assets/image/pet.png);
}
